<div class="container cricket">
    <div class="row">
        <div class="col-sm-10">
            <h4>Overview</h4>
            <p>Click on Other navigation tabs, to see corresponding pages.</p>
            <p>Enter dummy username and password, and sign-in. This will save the username and login timestamp to the local storage. You can verify the data in "Local storage" section.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <h4>Cricket Scorecard</h4>
            <p>Cricket Scorecard section will display the current matches list, fetched from <a href="http://www.cricapi.com">CricApi</a>. And similarly, get the player details by clicking on their name.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <h4>LocalStorage</h4>
            <p>LocalStorage section will demonstrate the html5 LocalStorage feature.</p>
        </div>
    </div>
</div>