<div class="pull-right">
    <ul class="nav pull-right">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{loginModel.username}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="javascript:void(0);" ng-click="settings()"><i class="icon-cog"></i> Settings</a></li>
                <li class="divider"></li>
                <li><a href="javascript:void(0);" ng-click="logout()"><i class="icon-off"></i> Logout</a></li>
            </ul>
        </li>
    </ul>
</div>